* {
 list-style: none;
 text-decoration: none;
 border: none;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: sans-serif;
 background: #e3e7eb;
}
a {
 color: black;
}
.flex {
 display: flex;
 align-items: center;
}
.container {
 max-width: 1080px;
}
header {
 position: fixed;
 width: 100%;
 z-index: 100;
 background: #f4f3f3;
 box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);;
}
nav {
margin: auto;
}
.nav {
justify-content: space-between;
padding: 1rem;
margin: 0 auto;
}
.nav img {
margin-right: 1.5rem;
}
.nav ul {
gap: 1rem;
}
.nav li:hover a {
color: orangered;
}
.nav .active a {
color: black;
font-weight: bold;
}
.contact {
 background: black;
 padding: 0.5rem 0.8rem;
 border-radius: 10px;
 color: white;
}
.contact:hover {
 background: orangered;
}