* {
  list-style: none;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
a {
  color: black;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1080px !important;
}
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #ddd;
}
nav {
  margin: auto;
}
.nav {
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;
}
.nav img {
  margin-right: 1.5rem;
}
.nav ul {
  gap: 1rem;
}
.nav li:hover a {
  color: orangered;
}
.nav .active a {
  color: orangered;
}
.contact {
  background: orangered;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  color: white;
}
